
body {
    background:rgb(251, 177, 177);
    font-family: sans-serif;
  }
  
  p {
    margin-top: 1em;
  }
  h2 + p {
    margin-top: -1em;
  }
  label {
    display: flex;
    flex-direction: column;
    background:rgb(242, 245, 68);
  }
  .close {
    float: right;
    appearance: none;
    border-radius: 5rem;
    margin: -1em;
  }
  